<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/AdminPage.css" />
        <link rel="stylesheet" href="/css/HomePage.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
        <title>PSU Fair Admin Page</title>
    </head>

    <body>
        <header class="header">
            <a href="/" class="logo">Portland State University</a>
            <div class="header-right">
                <form id="uploadForm" enctype="multipart/form-data" action="/api/photo" method="post">
                    <a id= "Pages" ><input type="file" accept=".csv" name="userPhoto"/></a>
                    <a id= "Pages" ><input type="submit" value="Submit" name="submit"></a>
                    <span id = "status"></span>
                </form>
            </div>
        </header>

        <main>
            <section class="FairLayout">
                <div class= "Company B0">
                    <% if(companies[0].Employer != '') { %>
                        <span class="comp-span"><%=companies[0].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[0].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B1">
                    <% if(companies[1].Employer != '') { %>
                        <span class="comp-span"><%=companies[1].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[1].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B2">
                    <% if(companies[2].Employer != '') { %>
                        <span class="comp-span"><%=companies[2].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[2].Number%></span>
                    <% } %>
                </div>       

                <div class= "Company B3">
                    <% if(companies[3].Employer != '') { %>
                        <span class="comp-span"><%=companies[3].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[3].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B4">
                    <% if(companies[4].Employer != '') { %>
                        <span class="comp-span"><%=companies[4].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[4].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B5">
                    <% if(companies[5].Employer != '') { %>
                        <span class="comp-span"><%=companies[5].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[5].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B6">
                    <% if(companies[6].Employer != '') { %>
                        <span class="comp-span"><%=companies[6].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[6].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B7">
                    <% if(companies[7].Employer != '') { %>
                        <span class="comp-span"><%=companies[7].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[7].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B8">
                    <% if(companies[8].Employer != '') { %>
                        <span class="comp-span"><%=companies[8].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[8].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B9">
                    <% if(companies[9].Employer != '') { %>
                        <span class="comp-span"><%=companies[9].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[9].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B10">
                    <% if(companies[10].Employer != '') { %>
                        <span class="comp-span"><%=companies[10].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[10].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B11">
                    <% if(companies[11].Employer != '') { %>
                        <span class="comp-span"><%=companies[11].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[11].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B12">
                    <% if(companies[12].Employer != '') { %>
                        <span class="comp-span"><%=companies[12].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[12].Number%></span>
                    <% } %>
                </div>       

                <div class= "Company B13">
                    <% if(companies[13].Employer != '') { %>
                        <span class="comp-span"><%=companies[13].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[13].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B14">
                    <% if(companies[14].Employer != '') { %>
                        <span class="comp-span"><%=companies[14].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[14].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B15">
                    <% if(companies[15].Employer != '') { %>
                        <span class="comp-span"><%=companies[15].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[15].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B16">
                    <% if(companies[16].Employer != '') { %>
                        <span class="comp-span"><%=companies[16].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[16].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B17">
                    <% if(companies[17].Employer != '') { %>
                        <span class="comp-span"><%=companies[17].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[17].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B18">
                    <% if(companies[18].Employer != '') { %>
                        <span class="comp-span"><%=companies[18].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[18].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B19">
                    <% if(companies[19].Employer != '') { %>
                        <span class="comp-span"><%=companies[19].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[19].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B20">
                    <% if(companies[20].Employer != '') { %>
                        <span class="comp-span"><%=companies[20].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[20].Number%></span>
                    <% } %>
                </div> 

                <div class= "Company B21">
                    <% if(companies[21].Employer != '') { %>
                        <span class="comp-span"><%=companies[21].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[21].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B22">
                    <% if(companies[22].Employer != '') { %>
                        <span class="comp-span"><%=companies[22].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[22].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B23">
                    <% if(companies[23].Employer != '') { %>
                        <span class="comp-span"><%=companies[23].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[23].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B24">
                    <% if(companies[24].Employer != '') { %>
                        <span class="comp-span"><%=companies[24].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[24].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B25">
                    <% if(companies[25].Employer != '') { %>
                        <span class="comp-span"><%=companies[25].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[25].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B26">
                    <% if(companies[26].Employer != '') { %>
                        <span class="comp-span"><%=companies[26].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[26].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B27">
                    <% if(companies[27].Employer != '') { %>
                        <span class="comp-span"><%=companies[27].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[27].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B28">
                    <% if(companies[28].Employer != '') { %>
                        <span class="comp-span"><%=companies[28].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[28].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B29">
                    <% if(companies[29].Employer != '') { %>
                        <span class="comp-span"><%=companies[29].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[29].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B30">
                    <% if(companies[30].Employer != '') { %>
                        <span class="comp-span"><%=companies[30].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[30].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B31">
                    <% if(companies[31].Employer != '') { %>
                        <span class="comp-span"><%=companies[31].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[31].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B32">
                    <% if(companies[32].Employer != '') { %>
                        <span class="comp-span"><%=companies[32].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[32].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B33">
                    <% if(companies[33].Employer != '') { %>
                        <span class="comp-span"><%=companies[33].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[33].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B34">
                    <% if(companies[34].Employer != '') { %>
                        <span class="comp-span"><%=companies[34].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[34].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B35">
                    <% if(companies[35].Employer != '') { %>
                        <span class="comp-span"><%=companies[35].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[35].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B36">
                    <% if(companies[36].Employer != '') { %>
                        <span class="comp-span"><%=companies[36].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[36].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B37">
                    <% if(companies[37].Employer != '') { %>
                        <span class="comp-span"><%=companies[37].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[37].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B38">
                    <% if(companies[38].Employer != '') { %>
                        <span class="comp-span"><%=companies[38].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[38].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B39">
                    <% if(companies[39].Employer != '') { %>
                        <span class="comp-span"><%=companies[39].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[39].Number%></span>
                    <% } %>
                </div>
            
                <div class= "Company B40">
                    <% if(companies[40].Employer != '') { %>
                        <span class="comp-span"><%=companies[40].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[40].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B41">
                    <% if(companies[41].Employer != '') { %>
                        <span class="comp-span"><%=companies[41].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[41].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B42">
                    <% if(companies[42].Employer != '') { %>
                        <span class="comp-span"><%=companies[42].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[42].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B43">
                    <% if(companies[43].Employer != '') { %>
                        <span class="comp-span"><%=companies[43].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[43].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B44">
                    <% if(companies[44].Employer != '') { %>
                        <span class="comp-span"><%=companies[44].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[44].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B45">
                    <% if(companies[45].Employer != '') { %>
                        <span class="comp-span"><%=companies[45].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[45].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B46">
                    <% if(companies[46].Employer != '') { %>
                        <span class="comp-span"><%=companies[46].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[46].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B47">
                    <% if(companies[47].Employer != '') { %>
                        <span class="comp-span"><%=companies[47].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[47].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B48">
                    <% if(companies[48].Employer != '') { %>
                        <span class="comp-span"><%=companies[48].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[48].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B49">
                    <% if(companies[49].Employer != '') { %>
                        <span class="comp-span"><%=companies[49].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[49].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B50">
                    <% if(companies[50].Employer != '') { %>
                        <span class="comp-span"><%=companies[50].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[50].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B51">
                    <% if(companies[51].Employer != '') { %>
                        <span class="comp-span"><%=companies[51].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[51].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B52">
                    <% if(companies[52].Employer != '') { %>
                        <span class="comp-span"><%=companies[52].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[52].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B53">
                    <% if(companies[53].Employer != '') { %>
                        <span class="comp-span"><%=companies[53].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[53].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B54">
                    <% if(companies[54].Employer != '') { %>
                        <span class="comp-span"><%=companies[54].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[54].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B55">
                    <% if(companies[55].Employer != '') { %>
                        <span class="comp-span"><%=companies[55].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[55].Number%></span>
                    <% } %>
                </div>
            
                <div class= "Company B56">
                    <% if(companies[56].Employer != '') { %>
                        <span class="comp-span"><%=companies[56].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[56].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B57">
                    <% if(companies[57].Employer != '') { %>
                        <span class="comp-span"><%=companies[57].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[57].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B58">
                    <% if(companies[58].Employer != '') { %>
                        <span class="comp-span"><%=companies[58].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[58].Number%></span>
                    <% } %>
                </div>

                <div class= "Company B59">
                    <% if(companies[59].Employer != '') { %>
                        <span class="comp-span"><%=companies[59].Employer%></span>
                    <% } else {%>
                        <span class="comp-span"><%=companies[59].Number%></span>
                    <% } %>
                </div>
            </div>
        </main>
        <br><br>
        <footer class="footer">
            <div class="FooterLinks">
                <div class="LinksOne">
                    <ul>
                        <li><a href="https://www.pdx.edu/careers/internship-information-for-students">Internships</a></li>
                        <li><a href="https://www.pdx.edu/careers/events">WorkShops</a></li>
                        <li><a href="https://www.pdx.edu/careers/appointments-drop-in">Appointments</a></li>
                        <li><a href="https://www.pdx.edu/careers/contact">Contact Us</a></li>               
                    </ul>
                </div>
                <div class="LinksTwo">
                    <ul>
                        <li><a href="https://www.linkedin.com/school/portland-state-university/">LinkedIn</a></li>
                        <li><a href="https://portlandstate.joinhandshake.com/login">Handshake</a></li>
                        <li><a href="https://www.indeed.com/q-Pdx-jobs.html">Indeed</a></li>
                    </ul>
                </div>
            </div>

            <div class="Credits">
                <p>All Rights Reserved ( <a class="Network" href="https://www.linkedin.com/in/avinashvarmacherukuri/">Avinash Varma</a> & <a class="Network" href="https://www.linkedin.com/in/deepa-varghese/">Deepa Varghese</a> )</p>
            </div>
        </footer>

        <script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/textFit.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="AdminPage.js"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
        <script>
            $(document).ready(function() 
            {
                $('#uploadForm').submit(function() {
                    $("#status").empty().text("File Uploading. Please Wait!");

                $(this).ajaxSubmit({
                    error: function(xhr) {
                        status('Error: ' + xhr.status);
                    },
                    success: function(response) {
                        console.log(response)
                        $("#status").empty().text(response);
                    }
                });
                return false;
                });    
            });
        </script>
    </body>
</html>