<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/cfairmap.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
  </head>

  <body>
    <header>
      <a href="#default" class="logo">Portland State University</a>
      <!-- Buttons for All Majors, Engg-->
    </header>
    <main>
      <div id="map-container">
        <div id="map-12-13" class="map-item">
          <div
            class="comp-block"
            id="comp-id-<%=companies[11].Number %>"
            onclick="compactions(this, '<%=companies[11].Number%>')"
          >
            <% if(companies[11].Employer != '') { %>
            <span class="comp-span">
              <%=companies[11].Employer%>
            </span>
            <% } else {%>
            <span class="comp-span">
              <%=companies[11].Number%>
            </span>
            <% } %>
          </div>
          <div id="modal-id-<%=companies[11].Number %>" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">&times;</span>
              <p>Employer: <%=companies[12].Employer %><br>
                Employer Industry: <%=companies[11].EmployerIndustry%> <br>
                <% var dept = [];
                    if (companies[12].CEE == "x") { dept.push("CEE")};
                    if (companies[12].CS == "x") { dept.push("CS")};
                    if (companies[12].ECE == "x") { dept.push("ECE")};
                    if (companies[12].ETM == "x") { dept.push("ETM")};
                    if (companies[12].MME == "x") { dept.push("MME")};
                  %> 
                Departments: 
                <ul> 
                  <% for(var i=0; i<=dept.length; i++ ){ %> 
                  <li><%=dept[i]  %> </li>
                  <% } %> 
                </ul>
                JobTypes: <%=companies[12].JobTypes %> <br>
                <%if(companies[12].OPTCPT=="Y") {%>
                  OPT/CPT: Yes
                <% } %> 
              </p>
            </div>
            </div>
            <div
              class="comp-block"
              id="comp-id-<%=companies[12].Number %>"
              onclick="compactions(this, '<%=companies[12].Number%>')"
            >
              <%=companies[12].Employer %>
            </div>
        </div>

        <div id="map-14-20" class="map-item"></div>
        <div id="map-21-23" class="map-item"></div>
        <div id="map-24-25" class="map-item"></div>
        <div id="map-stage" class="map-item">STAGE</div>
        <div id="map-9-11" class="map-item"></div>
        <div id="map-mid" class="map-item"></div>
        <div id="map-26-28" class="map-item"></div>
        <div id="map-7-8" class="map-item">MAP BOTTOM LEFT</div>
        <div id="map-3-6" class="map-item"></div>
        <div id="map-empty" class="map-item"></div>
        <div id="map-31-33" class="map-item"></div>
        <div id="map-29-30" class="map-item"></div>
      </div>
      <div id="map-entrance">
        <div id="map-1-2-34-35"></div>
      </div>
    </main>
    <script
      type="text/javascript"
      src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/textFit.js"
    ></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="cfairmap.js"></script>
  </body>
</html>
